:root {
    --bgc-01: rgb(0, 0, 0);
    --bgc-02: rgb(205, 113, 21);
    --bgc-03: rgb(255, 255, 255);
    --bgc-04: rgb(128, 128, 128);
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: var(--bgc-03);
    color: var(--bgc-01);
}

header {
    background-color: var(--bgc-04);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}

main {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-image: url(img/Naamloos-1.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

figure {
    position: relative;
    overflow: hidden;
}

figcaption {
    position: absolute;
    bottom: 15%;
}

main p {
    color: var(--bgc-03);
    font-size: 15px;
}

iframe {
    width: 450px;
    height: 250px;
}

#tabs {
    display: inline-block;
        background-color: var(--bgc-02);
        padding: 5px;
}

.Logo{
    display: flex;
    justify-content: center;
    width: 14rem;
}

.artist {
    width: 175px;
}

.artist:hover{
    transform: scale(1.5,1.5);
}

.artiest {
    width: 400px;
    
}

.item {
    align-self: center;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-left: 10px;
    padding-top: 50px;
}

.item-2 {
    align-self: center;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-top: 60px;
}

.item-3 {
    align-self: center;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-right: 10px;
}

.info{
    color: var(--bgc-01);
    font-weight: 400;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-items: center;
    column-gap: 57px;
    row-gap: 57px;
}

header li{
    list-style: none;
}

header ul{
    display: flex;
    justify-content: right;
    gap: 5px;
    padding-right: 5px;
}

main ul{
    display: flex;
    justify-content: right;
    gap: 5px;
    padding-right: 5px;
}

.flex-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

main img{
    transition: transform 250ms ease;
}



main ul{
    justify-content: center;
}

footer i{
    font-size: 50px;
    color: var(--bgc-02);
}

.flex-containerli {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

footer ul{
    margin-bottom: 1cm;
}

footer ul li:first-child a {
    color: var(--bgc-02);
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    list-style-type: none;
}

footer ul:first-child li a {
    text-transform: uppercase;
}

li {
    list-style-type: none;
}

footer{
    background-color: black;
    padding: 5vw 10vw;
}

footer i{
    margin-left: 0.1cm;
    font-size: 1.6rem;
}

footer i:hover{
    transform: scale(1.5,1.5);
    transition: transform 250ms ease;
}

footer a{
    text-decoration: none;
    color: white;
}
header input#burger {
    display: none;
}

header label[for="burger"] {
    z-index: 3;
    top: 0;
    right: 0;
    display: none;
    padding: 1rem 1ch;
    background-color: var(--bgc-02);
    text-align: right;
    cursor: pointer;
}

@media (width <=900px) {
    .container{
        grid-template-columns: repeat(2, 6fr);
    }
    header div nav ul{
        display: none;
    }
    header label[for="burger"] {
        display: block;
    }

    header nav ul {
        z-index: 3;
        top: 3rem;
        right: 0;
        display: none;
        padding-right: 1ch;
        background-color: var(--bgc-02);
        text-align: right;
        user-select: none;
    }
    header input#burger:checked+label[for="burger"]+nav ul {
        display: flex;
        flex-direction: column;
    }
}